.customer-stories {
    padding-top: 40px;
    padding-inline: 40px;
    padding-bottom: 40px;
    text-align: start;
}

.stories-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; 
    gap: 20px;
    justify-content: center;
    grid-auto-flow: dense;
}

.customer-stories .head h3 {
  margin: 0;
}

.customer-stories .head .card-description {
  margin-bottom: 0;
}

.customer-stories .content .card-description {
  margin-bottom: 0;
}

.stories-list div {
  height: 100%;
}

@media (max-width: 700px) {
    .stories-list {
      grid-template-columns: 1fr; 
    }
}
  
