.customer-story {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-inline: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
    border: 2px solid var(--color-background);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.head {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.head img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1; 
}

.stars {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.star {
    width: 2.5vw;
    height: 2.5vw;
}