.heading {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-black);
    margin-top: 8px;
    margin-bottom: 24px;
}

.card-heading {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--color-black);
    line-height: 40px;
}

.card-description {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
