@media only screen and (min-width: 992px) { 
.navbar-container .menu-bar-btn{
    display: none !important;
}

.menu-bar-btn {
    display: none !important;
}

.hover-buttons-mobile {
    display: none !important;
}
}

@media only screen and (max-width: 1280px) { 
    .hover-buttons {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media only screen and (max-width: 991px) { 
.navbar-container .navbar-links {
    display: none !important;
}

.logo-container {
    padding: 16px 45px;
}

.navbar {
    padding: 15px 15px !important;
}

.quote-button {
    display: none !important;
}

.image-container {
    display: none !important;
}

.services {
    padding-inline: 15px !important;
}

.project-stats {
    margin-left: 0vw !important;
    margin-right: 0vw !important;
}

.main {
    padding-top: 0px !important;
    padding-inline: 15px !important;
    margin-bottom: 0 !important;
}

.work-proposition-card {
    padding: 30px 15px !important;
}

.card-heading {
    font-size: 24px !important;
    margin-bottom: 15px !important;
}

.projects {
    padding-inline: 15px !important;
}

.why-choose {
    padding-inline: 15px !important;
}

.customer-stories {
    padding-top: 0px !important;
    padding-inline: 15px !important;
}

.tools-tech-section {
    padding-top: 0px !important;
    padding-inline: 15px !important;
    padding-bottom: 0 !important;
}

.tech-list .tech-item .card-description {
    margin-bottom: 0 !important;
}

.tech-list .tech-item .card-heading {
    margin-bottom: 0 !important;
}

.contact-form {
    padding-inline: 15px !important;
}

.footer-content .column {
    gap: 15px;
    margin: 15px;
}

.strategy-item-text {
    display: none !important;
}

.heading {
    font-size: 30px !important;
} 

.mobile-sidebar ul.navbar-links {
    display: flex !important;
    width: 100%;
    padding: 0;
    margin: 0;
    background: transparent;
    flex-direction: column;
    row-gap: 16px;
}

.mobile-sidebar ul.navbar-links li {
    background-color: var(--color-background);
    padding: 22px 25px;
    border-radius: 1000px;
}

.mobile-sidebar ul.navbar-links li a {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
}

nav.navbar {
    position: fixed;
    width: 100%;
    background: #ffffff80;
    z-index: 1;
    border-radius: 0 !important;
    backdrop-filter: blur(50px);
}

.content-wrapper {
    padding-top: 70px;
}

.work-container {
    width: 18vh !important;
    height: 18vh !important;
}

.work-container img {
    width: 70px;
}

.project-item img {
    width: 100% !important;
    height: initial !important;
}

.hover-buttons.hover-buttons-mobile {
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    transform: none !important;
    left: inherit !important;
    bottom: inherit;
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 15px;
    padding: 0;
}

.hover-buttons.hover-buttons-mobile button.project-button {
    width: 100%;
}

.hover-buttons-desktop {
    display: none !important;
}
}